<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--script section-->
    <script src = "https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src = "https://cdn.datatables.net/2.3.7/js/dataTables.js"></script>
    <!--css section-->
    <link rel="stylesheet" href="https://cdn.datatables.net/2.3.7/css/dataTables.dataTables.css">
    <title>Admin Panel</title>
</head>
<body>
    <table id = "orders-table" class = "display"> 
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Flavor</th>
                <th>Cone Type</th>
                <th>Toppings</th>
                <th>Comment</th>
                <th>Timestamp</th>
            </tr>
        </thead>
        <tbody>
            <% orders.forEach(order => { %>
                <tr>
                    <td><%= order.name %></td>
                    <td><%= order.email %></td>
                    <td><%= order.flavor %></td>
                    <td><%= order.cone %></td>
                    <td><%= order.toppings %></td>
                    <td><%= order.comments %></td>
                </tr>
            <% }) %>
        </tbody>

    </table>
    <script defer>
        let table = new DataTable('#orders-table');
    </script>
</body>
</html>